{% extends 'myapp/base.html' %}
{% load static %}
<html lang="en">
    {% block header-title %}お問合せ{% endblock %}

    {% block content %}
        <form  method="POST">
            {% csrf_token %}
            <p>
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                <br>
                {% endfor %}   

                <button type="submit">送信</button>  
            </p>
        </form>
    {% endblock %}