{% extends 'myapp/base.html' %}
{% block header-title %}
{% block extra_style %}<link rel="stylesheet" href="../../static/myapp/css/setting.css">{% endblock %}
設定
{% endblock %}
{% block content %}
<body>
    <br>
    <br>
    <br>
    <a href="{% url 'username_change' %}" class="aa">ユーザ名変更</a>
    <br>
    <a href="{% url 'adress_change' %}"class="aa">メールアドレス変更</a>
    <br>
    <a href="{% url 'icon_change' %}"class="aa">アイコン変更</a>
    <br>
    <a href="{% url 'passwordchange' %}"class="aa">パスワード変更</a>
    <br>
    <a href="{% url 'logout' %}"class="aa">ログアウト</a>
</body>
{% endblock %}